*{
    font-family: monospace;
    font-size: 25px;
    margin: 5px;
    color: #f1faee;
}

body{
    background-color: #1d3557;
}

button{
    background-color:#457b9d;
    border: 2px solid #a8dadc;
    border-radius: 6px;
    width: 100px;
    height: 100px;
}

#back{
    margin-left: 20px;
}

#input{
    height: 100px;
    width: 100%;
    color: black;
}
#secondary_input{
    height: 100px;
    width: 100%;
    color: black;
}

#general_wrapper{
    display: flex;
    padding-top: 20%;
}

#number_container{
    position: relative;

    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

#hide{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    
}

.number{
    backface-visibility: hidden;
}

#show{
    position: absolute;
    top: 0;
    left: 0;
}