*{
    font-family: monospace;
    font-size: 25px;
    margin: 5px;
    color: #f1faee;
}

body{
    background-color: #1d3557;
}

button{
    background-color:#457b9d;
    border: 2px solid #a8dadc;
    border-radius: 6px;
    width: 100px;
    height: 100px;
}

#back{
    margin-left: 20px;
}

#input{
    height: 100px;
    width: 100%;
    color: black;
}
#secondary_input{
    height: 100px;
    width: 100%;
    color: black;
}

#general_wrapper{
    display: flex;
    padding-top: 20%;
}
 