@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: 100;
}

body {
    margin: 0px;
}

p {
    font-family: "roboto", sans-serif;
}

/* section 1 */
#section_1 {
    background-color: #1F2937;
    padding-left: 16%;
    padding-right: 16%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#smaller_headers_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#welcome_text_container p {
    margin: 0px;
    padding: 0px;
}

#preface {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #E5E7EB;
}

#welcome_text_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* visibility: hidden; */
    align-items: flex-start;
    margin-bottom: 10%;
    margin-top: 10%;
}

#place_holder {
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    justify-content: space-around;
    align-content: center;
    background-color: gray;
    height: 200px;
    align-items: center;
}

.main {
    font-weight: 300;
    color: #F9FAF8;
    font-size: 48px;
}

.secondary {
    font-weight: 100;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    font-weight: 200;
    color: #F9FAF8;
    font-size: 24px;
}

button {
    background-color: #3882F6;
    font-weight: 200;
    color: #E5E7EB;
    /*border: 2px solid white;*/
    border: 0px;
    margin-top: 0.5em;
    border-radius: 5px;
    padding: 0.5em;
    width: 8em;
}

/* section 2 */

#section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

#section_2 > p{
    font-weight: 300;
    color: #1F2937;
    font-size: 36px;

    display: flex;
    flex-direction: column;
}

#images_section {
    display: flex;
    flex-direction: row;
}

.image_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.image_box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6 ;
    border-radius: 10px;
}

#images_section p {
    font-weight: 100;
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}

/* section 3 */

#section_3 {
    FONT-WEIGHT: 200;
    background-color: #E5E7EB;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#quote {
    font-weight: 100;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

#quote_name {
    font-weight: 200;
    font-size: 24px;
    color: #1F2937;
    text-align: end;
}

/* section 4 */

#section_4 {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    align-items: center;
}

#section_4 button {
    border: 2px solid #F9FAF8;
    height: 50px;
}

#footer {
    background-color: #1F2937;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


